body {
    background-color: rgba(21, 36, 36, 0.942);
    font-family: Helvetica, Arial, sans-serif;
    margin: 10px;
    padding: 10%;
    font-size: 20px;

}

#account{
    color: white;
    padding: 10px;
    text-align: center;
}

::placeholder{
    opacity: .75;
}

.labels{
    color: white;
}

.container{
    padding: 5px;
    text-align: center;
        
}

input{
    width: 500px;
    padding: 15px;
}

input, input::placeholder{
    font: 15px/15px "Helvetica Neue",Helvetica;
}

.radio{
    font: 20px/20px "Helvetica Neue",Helvetica;
}

input[type=radio]{
    width: 10%;
    height: 2em;
}

button{
    width: 200px; height: 50px
}